[package]
name = "rendy-texture"
version = "0.1.0"
authors = ["omni-viral <scareaangel@gmail.com>"]
edition = "2018"
repository = "https://github.com/amethyst/rendy"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/rendy-texture"
keywords = ["graphics", "gfx-hal", "rendy"]
categories = ["rendering"]
description = "Rendy's texture"

[features]
no-slow-safety-checks = ["rendy-util/no-slow-safety-checks"]
serde-1 = ["serde", "gfx-hal/serde", "rendy-factory/serde"]
profiler = [ "thread_profiler/thread_profiler" ]

[dependencies]
rendy-memory = { version = "0.1.0", path = "../memory" }
rendy-resource = { version = "0.1.0", path = "../resource" }
rendy-factory = { version = "0.1.0", path = "../factory" }
rendy-util = { version = "0.1.0", path = "../util" }

gfx-hal = "0.1"

derivative = "1.0"
failure = "0.1"
serde = { version = "1.0", optional = true }
image = { version = "0.21.0", optional = true }
palette = { version = "0.4", optional = true }
log = "0.4"
thread_profiler = { version = "0.3", optional = true }
