name: CI

on:
  push:
    branches:
      - master
      # bors needs CI to trigger for pushes to its staging/trying branches
      - staging
      - trying
  pull_request:

env:
  RUSTFLAGS: -Cdebuginfo=0
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.toolchain == 'nightly' }}
    strategy:
      fail-fast: true
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        toolchain: [stable, beta, nightly]
        backend: [vulkan, metal, dx12, gl]
    steps:
      - uses: actions/checkout@v2

      - name: install ${{ matrix.toolchain }} toolchain
        id: install_toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          profile: minimal
          override: true

      - uses: seanmiddleditch/gha-setup-ninja@v3

      - run: rustup component add rustfmt
        if: matrix.toolchain == 'nightly' && matrix.os == 'ubuntu-latest'

      - run: cargo +nightly fmt --all -- --check
        if: matrix.toolchain == 'nightly' && matrix.os == 'ubuntu-latest'
        
      - run: rustup component add clippy
        if: matrix.toolchain == 'nightly'

      - run: cd rendy && cargo +nightly clippy -Z unstable-options --workspace --all-targets --features=full,${{ matrix.BACKEND }}
        if: matrix.toolchain == 'nightly'

      - run: cd rendy && cargo test --workspace --features=full,${{ matrix.BACKEND }}
